<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pinterest Clone</title>
  <style>
  
    .footer {
      background-color: black;
      color: #ccc;
      padding: 20px;
      text-align: center;
      font-size: 14px;
      width:100vw;
    }

    .footer p {
      margin: 5px 0;
    }

    .footer strong {
      color: #fff;
      font-weight: 600;
    }
  </style>
</head>
<body>


  <footer class="footer">
    <p>Developer: <strong>Maaz Javed</strong></p>
    <p>&copy; 2025 All rights reserved.</p>
  </footer>

</body>
</html>